.content-area {
    padding: 10px 5px;
    width: 100%;
}

#__blaze-root {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100vw;
    height: 100vh;

}

.app-container {
    flex-grow: 1;
    height: 100vh;
}