.dashboard-page-title {
    color: white;
    text-shadow: 2px 2px #444444;
}

.item-form {
    background-color: white;
    border: 2px solid #111111;
    border-radius: 10px;
    padding: 10px;
}

.item-form .form-group {
    margin: 8px;
}

.item-form .form-group .control-label {
    width: 100px;
    display: inline-block;
}

.item-form .form-group .form-control {
    border-radius: 7px;
}